In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [4]:
#send request

url = 'https://www.bankbazaar.com/reviews.html'

page = requests.get(url)

page.text

soup = BeautifulSoup(page.text, 'html.parser')

In [31]:
#read review text
review_text = []

review_text_elem = soup.find_all(class_='text_here review-desc-more')

for item in review_text_elem:
    review_text.append(item.text)

In [32]:
#read autor name
user_name = []

user_name_elem = soup.find_all(class_='reviewer-profile')

for item in user_name_elem:
    user_name.append(item.text)

In [33]:
#read Bank name from Image text
bank_name = []

bank_name_elem = soup.find_all('div',{'class':'review-bank-title'})

for item in bank_name_elem:
    bank_name.append(item.find("img").get('alt'))

In [24]:
#Create dataframe
final_array = []

for text, user,  bank in zip(review_text, user_name, Bank_name):
    final_array.append({'Review_text':text,'User':user,'Bank': bank})
    
df = pd.DataFrame(final_array)

df

,Bank,Review_text,User
0,YES Bank,\n I have appli...,"\nS\n , vad..."
1,HDFC Bank,\n From HDFC Ba...,"\nA \n , ko..."
2,RBL Bank,\n I have Ratna...,\nTARUN \n ...
3,review,\n From Indiabu...,"\nK\n , ban..."
4,IndusInd Bank,\n I have got t...,"\nTARUN\n ,..."
5,review,\n The bank ser...,\nAaba Chakma\n ...
6,HSBC Bank,\n While applyi...,"\nAMIT \n ,..."
7,Axis Bank,\n The rate of ...,\nPAPPALA V\n ...
8,IndusInd Bank,\n I applied fo...,\nMOHAN \n ...
9,Bajaj Allianz,\n I have taken...,\nMOHAMMED \n ...
10,YES Bank,\n The reason f...,\nP V N P\n ...
11,Citibank,"\n 2 years ago,...",\nBOOPATHI \n ...
12,Citibank,\n More than 2....,\nBOOPATHI RAJA\n ...
13,Axis Bank,\n I am having ...,\nSUBRAMANIAN \n ...
14,SBI Cards,\n I saw some g...,\nSUBRAMANIAN \n ...
15,review,\n I have taken...,"\nJAY\n , b..."
16,review,\n I have taken...,"\nJ\n , ban..."
17,HSBC Bank,\n I have appl...,"\nAMIT\n , ..."
18,HDFC Bank,"\n In HDFC, I a...",\n PANDAYA\n ...
19,HDFC Bank,\n HDFC custome...,\nAYUSH \n ...